<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>My Journey</h4>
    <p>I am very happy to be bringing my journey of learning to code to you! I would love your feedback about my blogs or the site in general.</p>
    <p>Please feel free to comment on any of my posts, or <a href="mailto:cashman.andrew93@gmail.com?subject=BlogsContact" "email me">email me</a> directly.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4><%= link_to 'Topics', topics_path, class: 'topic-style' %></h4>
    <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module"><div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/ACashman93"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/AndrewCashman"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.facebook.com/andrew.cashman?ref=bookmarks"><%= fa_icon "facebook" %></a></li>
      <!-- <li><a href="#"><%#= fa_icon "instagram" %></a></li> -->
    </ol>
  </div>
</div>